<h1>Listing virtual_collection_items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virtual_collection_items.each do |virtual_collection_item| %>
      <tr>
        <td><%= link_to 'Show', virtual_collection_item %></td>
        <td><%= link_to 'Edit', edit_virtual_collection_item_path(virtual_collection_item) %></td>
        <td><%= link_to 'Destroy', virtual_collection_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virtual collection item', new_virtual_collection_item_path %>
